/* @import node_modules/tailwindcss/base; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 1px black;;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
